include ../../elements/_links
nav(class="main-nav")
  div(class="main-nav__desktop container")
    .main-nav__account-and-search-block 
      a(class="main-nav__logo-link" href=main alt="Magic Wood Map")
        img(class="main-nav__logo" src="../../blocks/main-nav/images/logo.svg" width="87" height="88" alt="Magic Wood Maps логотип")
      form(class="main-nav__search-form" novalidate)
        input(class="input main-nav__input" id="input-search" type="search" placeholder="Знайти..." name="search" required aria-label="Пошук по сайту" aria-required="true" )
        button(class="main-nav__icon-loupe" type="submit" aria-label="Знайти")
          i.icon-loupe
      .main-nav__account-buttons-block 
        button(class="main-nav__account-button" data-button-bag aria-label="Натисніть, щоб відкрити кошик" aria-haspopup="menu")
          i(class="main-nav__account-button-icon icon-bag")
          | Кошик
        span.main-nav__short-line
        button(class="main-nav__account-button" data-button-wishlist aria-label="Натисніть, щоб відкрити лист бажань" aria-haspopup="menu")
          i(class="main-nav__account-button-icon icon-like")
          | Сподобалось
    .main-nav__nav-block 
      .main-nav__main-links-block 
        a(class="link link_ff-poppins link_18-px link_fw-500 link_c-black main-nav__link" href=main alt="Головна") Головна
        span.main-nav__long-line 
        a(class="link link_ff-poppins link_18-px link_fw-500 link_c-black main-nav__link" href=aboutUs alt="Про нас") Про нас
        span.main-nav__long-line 
        a(class="link link_ff-poppins link_18-px link_fw-500 link_c-black main-nav__link" href=ourBlog alt="Блог") Блог
        span.main-nav__long-line 
        a(class="link link_ff-poppins link_18-px link_fw-500 link_c-black main-nav__link" href=catalog alt="Каталог") Каталог
      .main-nav__additional-links-block 
        a(class="link link_ff-poppins link_18-px link_fw-500 link_c-grey main-nav__link" href=paymentAndDelivery alt="Оплата та доставка") Оплата та доставка
        span.main-nav__long-line 
        a(class="link link_ff-poppins link_18-px link_fw-500 link_c-grey main-nav__link" href=faq alt="FAQ") FAQ 
  div(class="main-nav__mobile-panel container")
    button(class="main-nav__content-open-button" aria-label="Натисніть, щоб відкрити меню навігації")
      svg(class="main-nav__burger" viewBox="0 0 100 100")
        path(class="main-nav__burger-line main-nav__burger-line_1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058")
        path(class="main-nav__burger-line main-nav__burger-line_2" d="M 20,50 H 80")
        path(class="main-nav__burger-line main-nav__burger-line_3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942")
      p(class="title title_20-px title_fw-400 title_tt-uppercase main-nav__burger-title") Меню
    a(class="main-nav__logo-link-block" href=main alt="Magic Wood Maps")
      img(class="main-nav__logo" src="../../blocks/main-nav/images/logo.svg" width="87" height="88" alt="Magic Wood Maps логотип")
      p(class="title title_24-px title_fw-400 title_c-black main-nav__logo-link-title") Magic Wood Maps
    .main-nav__order-and-wishlist-buttons 
      button(class="round-button round-button_big round-button_inactive main-nav__round-button-big main-nav__bag-button-mobile" data-button-bag aria-label="Натисніть, щоб відкрити кошик" aria-haspopup="menu") 
        i.icon-bag
      button(class="round-button round-button_big round-button_inactive main-nav__round-button-big main-nav__wishlist-button-mobile" data-button-wishlist data-product-amount aria-label="Натисніть, щоб відкрити лист бажань" aria-haspopup="menu") 
        i.icon-like
  div(class="main-nav__mobile-content container")
    button(class="main-nav__tel-button" aria-label="Натисніть, щоб скопіювати номер телефону +380971703321")
      p(class="main-nav__tel-number" aria-hidden="true") +380 (97) 17 033 21
      p(class="main-nav__tel-text" aria-hidden="true")
    .main-nav__mobile-main-links
      a(class="link link_ff-montserrat link_18-px link_c-black-1 main-nav__mobile-main-link" href=main alt="Головна сторінка") Головна сторінка
      a(class="link link_ff-montserrat link_18-px link_c-black-1 main-nav__mobile-main-link" href=aboutUs alt="Про компанію") Про компанію
      a(class="link link_ff-montserrat link_18-px link_c-black-1 main-nav__mobile-main-link" href=ourBlog alt="Наш блог") Наш блог
      a(class="link link_ff-montserrat link_18-px link_c-black-1 main-nav__mobile-main-link" href=catalog alt="Каталог продукції") Каталог продукції
    .main-nav__mobile-additional-links 
      a(class="link link_ff-montserrat link_16-px link_c-grey-3 main-nav__mobile-main-link" href=paymentAndDelivery alt="Оплата та доставка") Оплата та доставка
      a(class="link link_ff-montserrat link_16-px link_c-grey-3 main-nav__mobile-main-link" href=faq alt="FAQ") FAQ
    .main-nav__mobile-social-links 
      a(class="round-button main-nav__round-button" href="https://uk-ua.facebook.com/" alt="Facebook" aria-label="Facebook") 
        i.icon-facebook
      a(class="round-button main-nav__round-button" href="https://www.instagram.com/" alt="Instagram" aria-label="Instagram") 
        i.icon-instagram
      a(class="round-button main-nav__round-button" href="https://twitter.com/?lang=uk" alt="Twitter" aria-label="Twitter") 
        i.icon-twitter
    small(class="text text_fw-500 text_c-grey-8 main-nav__copyright") ©2023, Magic Wood Map
