main(class="news container")
  .news__title-block
    span.news__line
    h2(class="title title_fw-400 title_c-black news__title") Новини
    span.news__line
  .news__cards-block-wrapper
    .news__cards-block 
      a(class="news__card" href=blogPage alt="Reading books always makes the moments happy" aria-label="Reading books always makes the moments happy")
        picture 
          source(type="image/webp" srcset="../../blocks/news/images/map_1.webp")
          img(class="news__card-img" src="../../blocks/news/images/map_1.png" width="419" height="315" alt="Дерев'яна мапа світу") 
        p(class="text text_ff-poppins text_15-px text_c-grey-11 news__card-date") 2 aug, 2021
        p(class="title title_26-px title_fw-400 title_c-black news__card-title") Reading books always makes the moments happy
        span.news__line
        p(class="text text_ff-poppins text_18-px text_c-orange news__card-link") Читати →
      a(class="news__card" href=blogPage alt="Reading books always makes the moments happy" aria-label="Reading books always makes the moments happy")
        picture 
          source(type="image/webp" srcset="../../blocks/news/images/map_2.webp")
          img(class="news__card-img" src="../../blocks/news/images/map_2.png" width="419" height="315" alt="Дерев'яна мапа світу") 
        p(class="text text_ff-poppins text_15-px text_c-grey-11 news__card-date") 2 aug, 2021
        p(class="title title_26-px title_fw-400 title_c-black news__card-title") Reading books always makes the moments happy
        span.news__line
        p(class="text text_ff-poppins text_18-px text_c-orange news__card-link") Читати →
      a(class="news__card" href=blogPage alt="Reading books always makes the moments happy" aria-label="Reading books always makes the moments happy")
        picture 
          source(type="image/webp" srcset="../../blocks/news/images/map_3.webp")
          img(class="news__card-img" src="../../blocks/news/images/map_3.png" width="419" height="315" alt="Дерев'яна мапа світу") 
        p(class="text text_ff-poppins text_15-px text_c-grey-11 news__card-date") 2 aug, 2021
        p(class="title title_26-px title_fw-400 title_c-black news__card-title") Reading books always makes the moments happy
        span.news__line
        p(class="text text_ff-poppins text_18-px text_c-orange news__card-link") Читати →
      a(class="news__card" href=blogPage alt="Reading books always makes the moments happy" aria-label="Reading books always makes the moments happy")
        picture 
          source(type="image/webp" srcset="../../blocks/news/images/map_1.webp")
          img(class="news__card-img" src="../../blocks/news/images/map_1.png" width="419" height="315" alt="Дерев'яна мапа світу") 
        p(class="text text_ff-poppins text_15-px text_c-grey-11 news__card-date") 2 aug, 2021
        p(class="title title_26-px title_fw-400 title_c-black news__card-title") Reading books always makes the moments happy
        span.news__line
        p(class="text text_ff-poppins text_18-px text_c-orange news__card-link") Читати →
      a(class="news__card" href=blogPage alt="Reading books always makes the moments happy" aria-label="Reading books always makes the moments happy")
        picture 
          source(type="image/webp" srcset="../../blocks/news/images/map_2.webp")
          img(class="news__card-img" src="../../blocks/news/images/map_2.png" width="419" height="315" alt="Дерев'яна мапа світу") 
        p(class="text text_ff-poppins text_15-px text_c-grey-11 news__card-date") 2 aug, 2021
        p(class="title title_26-px title_fw-400 title_c-black news__card-title") Reading books always makes the moments happy
        span.news__line
        p(class="text text_ff-poppins text_18-px text_c-orange news__card-link") Читати →
      a(class="news__card" href=blogPage alt="Reading books always makes the moments happy" aria-label="Reading books always makes the moments happy")
        picture 
          source(type="image/webp" srcset="../../blocks/news/images/map_3.webp")
          img(class="news__card-img" src="../../blocks/news/images/map_3.png" width="419" height="315" alt="Дерев'яна мапа світу") 
        p(class="text text_ff-poppins text_15-px text_c-grey-11 news__card-date") 2 aug, 2021
        p(class="title title_26-px title_fw-400 title_c-black news__card-title") Reading books always makes the moments happy
        span.news__line
        p(class="text text_ff-poppins text_18-px text_c-orange news__card-link") Читати →
  button(class="button news__button" aria-hidden="true") Показати більше
  