article(class="categories container")
  a(class="categories-button categories__link-button categories__link-button_1" href=catalog alt="Одношарові мапи")
  a(class="categories-button categories__link-button categories__link-button_2" href=catalog alt="Ознайомтеся з нашими найкращими категоріями")
    span Ознайомтеся з нашими найкращими 
      span.categories__red-word категоріями
  a(class="categories-button categories__link-button categories__link-button_3" href=catalog alt="Додатки до мап")
  a(class="categories-button categories__link-button categories__link-button_4" href=catalog alt="Багатошарові мапи")
  a(class="categories-button categories__link-button categories__link-button_5" href=catalog alt="Мапи з підсвічуванням")
  a(class="categories-button categories__link-button categories__link-button_6" href=catalog alt="Додаткова категорія")