footer(class="footer container")
  .footer__main-content 
    h2(class="title title_32-px footer__title_32-px") Magic Wood Map
    form.footer__form
      input(class="input footer__input" type="email" placeholder="Ваш e-mail" name="email")
      button(class="button footer__button-submit" type="submit") Надіслати
    .footer__social-links-block 
      a(class="round-button footer__round-button" href="#" alt="Facebook")
        i.icon-facebook
      a(class="round-button footer__round-button" href="#" alt="Instagram")
        i.icon-instagram
      a(class="round-button footer__round-button" href="#" alt="Twitter")
        i.icon-twitter
    p(class="text text_fw-500 text_c-grey-8 footer__copyrights") ©2023, Magic Wood Map
  nav.footer__nav 
    p(class="title title_22-px title_fw-500 title_c-black footer__lead") Меню
    a(class="link link_ff-montserrat link_16-px link_c-grey-1 footer__link" href=main alt="Головна") Головна
    a(class="link link_ff-montserrat link_16-px link_c-grey-1 footer__link" href=aboutUs alt="Про нас") Про нас
    a(class="link link_ff-montserrat link_16-px link_c-grey-1 footer__link" href="#" alt="Контакти") Контакти
    a(class="link link_ff-montserrat link_16-px link_c-grey-1 footer__link" href=ourBlog alt="Блог") Блог
  .footer__contacts
    p(class="title title_22-px title_fw-500 title_c-black lead footer__lead") Контакти
    p(class="title title_ff-montserrat title_16-px title_fw-500 footer__subtitle") Відділ продажів:
    a(class="link link_ff-montserrat link_16-px link_fw-300 link_c-grey-1 footer__link_fw-300" href="tel:+38 (093) 569 44 99" alt="+38 (093) 569 44 99") +38 (093) 569 44 99
    a(class="link link_ff-montserrat link_16-px link_fw-300 link_c-grey-1 footer__link_fw-300 footer__link_mb" href="mailto:info@mapsend.ua" alt="info@mapsend.ua") info@mapsend.ua
    p(class="title title_ff-montserrat title_16-px title_fw-500 footer__subtitle") Відділ маркетингу:
    a(class="link link_ff-montserrat link_16-px link_fw-300 link_c-grey-1 footer__link_fw-300" href="tel:+38 (093) 569 44 99" alt="+38 (093) 569 44 99") +38 (093) 569 44 99
    a(class="link link_ff-montserrat link_16-px link_fw-300 link_c-grey-1 footer__link_fw-300" href="mailto:info@mapsend.ua" alt="info@mapsend.ua") info@mapsend.ua
  .footer__additional-pages 
    p(class="title title_22-px title_fw-500 title_c-black footer__lead") Сторінки
    a(class="link link_ff-montserrat link_16-px link_c-grey-2 footer__link_lighter" href="#" alt="Оферта") Оферта
    a(class="link link_ff-montserrat link_16-px link_c-grey-2 footer__link_lighter" href=paymentAndDelivery alt="Доставка") Доставка
    a(class="link link_ff-montserrat link_16-px link_c-grey-2 footer__link_lighter" href=faq alt="FAQ") FAQ
     


      